<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenDMS.HttpModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OpenDMS.HttpModule.Properties.Settings>
            <setting name="StorageServerAddress" serializeAs="String">
                <value>192.168.1.111</value>
            </setting>
            <setting name="StorageServerPort" serializeAs="String">
                <value>5984</value>
            </setting>
            <setting name="NetworkTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="NetworkBufferSize" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="StorageDatabaseName" serializeAs="String">
                <value>Test1</value>
            </setting>
            <setting name="Install" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>C:\OpenDMS\Logs\</value>
            </setting>
            <setting name="StorageTransactionRootDirectory" serializeAs="String">
                <value>C:\OpenDMS\Transactions\</value>
            </setting>
        </OpenDMS.HttpModule.Properties.Settings>
    </applicationSettings>
</configuration>